name: release-to-prod
on:
  issue_comment:
    types: [created]
  pull_request_target:
    branches:
    - main
jobs:
  Pull-Request-Check:
    name: Pull development in main with Rebase
    runs-on: ubuntu-latest
    if: >-
      github.event.issue.pull_request != '' &&
      github.ref == 'refs/heads/development' &&
      github.event.comment.author_association == 'OWNER' &&
      (
        contains(github.event.comment.body, '/rebaseMain')
      )
    steps:
      - uses: actions/checkout@v2

        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0
          ref: main

      - name: Rebase main with devlopment
        run: git pull --rebase origin development

      - name: Push main
        run: git push origin main