name: release-to-prod
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
jobs:
  Pull-Request-Check:
    name: Unit Test & SonarCloud
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0

      - uses: actions/setup-node@v3.3.0
        with:
          node-version: '18'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test
      if: >-
        github.event.issue.pull_request != '' &&
        (
          contains(github.event.comment.body, '/rebeaseMain')
        )

      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0
          ref: main

      - name: Rebase main with devlopment
        run: git pull --rebase origin development

      - name: Push main
        run: git push origin main